<div class="accordion" fillSpace="sidebar">
  <!--------------------------------------->
  <div class="accordionHeader">
    <h2><span>Folder</span>处理</h2>
  </div>
  <div class="accordionContent">
  	<ul class="tree treeFolder">
    	<li><a href="{:U('Admin/Consign/index')}" target="navTab" rel="consign_index">委托任务</a></li>
        <li><a href="{:U('Admin/OrderRefund/index')}" target="navTab" rel="order_refund_index">退货换货</a></li>
    </ul>
  </div>
  <!--------------------------------------->
  <div class="accordionHeader">
    <h2><span>Folder</span>商品</h2>
  </div>
  <div class="accordionContent">
  	<ul class="tree treeFolder">
        <li><a href="{:U('Admin/Goods/presale')}" target="navTab" rel="goods_presale"  >预告商品</a></li>
    	<li><a href="{:U('Admin/Goods/onsale')}"  target="navTab" rel="goods_onsale"   >上架商品</a></li>    
        <li><a href="{:U('Admin/Goods/stock')}"   target="navTab" rel="goods_stock"    >库存提醒</a></li>
        <li><a href="{:U('Admin/Goods/offsale')}" target="navTab" rel="goods_offsale"  >下架商品</a></li>
        <li><a href="{:U('Admin/GoodsComment/index')}" target="navTab" rel="goods_comment">商品评价</a></li>
        <li><a href="{:U('Admin/GoodsTag/index')}" target="navTab" rel="goods_tag">商品标签</a></li>
        <li><a href="{:U('Admin/Category/index')}" target="navTab" rel="category">分类管理</a></li>
        <li><a href="{:U('Admin/PublicAttr/index')}" target="navTab" rel="publicattr">公共属性</a></li>
    </ul>
  </div>
  <!--------------------------------------->
  <div class="accordionHeader">
    <h2><span>Folder</span>订单</h2>
  </div>
  <div class="accordionContent">
  	<ul class="tree treeFolder">
        <li><a href="{:U('Admin/Order/index')}" target="navTab" rel="order">订单管理</a></li>
    </ul>
  </div>
  <!--------------------------------------->
  <div class="accordionHeader">
    <h2><span>Folder</span>运费</h2>
  </div>
  <div class="accordionContent">
  	<ul class="tree treeFolder">
        <li><a href="{:U('Admin/Expressage/index')}" target="navTab" rel="expressage"  >运费设置</a></li>
    </ul>
  </div>
  <!--------------------------------------->
  <div class="accordionHeader">
    <h2><span>Folder</span>文章</h2>
  </div>
  <div class="accordionContent">
  	<ul class="tree treeFolder">
    	<li><a href="{:U('Admin/Article/index')}" target="navTab" rel="article">文章管理</a></li>
        <li><a href="{:U('Admin/ArticleCategory/index')}" target="navTab" rel="article_category">文章分类管理</a></li>
        <li><a href="{:U('Admin/ArticleComment/index')}" target="navTab" rel="article_comment">文章评论管理</a></li>
    </ul>
  </div>
  <!--------------------------------------->
  <div class="accordionHeader">
    <h2><span>Folder</span>推荐</h2>
  </div>
  <div class="accordionContent">
  	<ul class="tree treeFolder">
        <li><a href="{:U('Admin/PromoteBlock/index')}" target="navTab" rel="promote_block">推荐块</a></li>
        <li><a href="{:U('Admin/Promote/index')}" target="navTab" rel="promote_index">推荐项</a></li>
        <li><a href="{:U('Admin/Promote/goods')}" target="navTab" rel="promote_index">推荐商品</a></li>
    </ul>
  </div>
  <!--------------------------------------->
  <div class="accordionHeader">
    <h2><span>Folder</span>会员</h2>
  </div>
  <div class="accordionContent">
  	<ul class="tree treeFolder">
    	<li><a href="{:U('Admin/User/index')}"  target="navTab" rel="user_index">会员列表</a></li>
        <li><a href="{:U('Admin/AuthGroupUser/index')}" target="navTab" rel="authgroupuser_index">管理组用户</a></li>
    </ul>
  </div>
  <!--------------------------------------->
  <div class="accordionHeader">
    <h2><span>Folder</span>权限</h2>
  </div>
  <div class="accordionContent">
  	<ul class="tree treeFolder">
    	<li><a href="{:U('Admin/AuthRule/index')}" target="navTab" rel="authrule">规则管理</a></li>
        <li><a href="{:U('Admin/AuthGroup/index')}" target="navTab" rel="authgroup">组管理</a></li>
    </ul>
  </div>
  <!--------------------------------------->
  <div class="accordionHeader">
    <h2><span>Folder</span>消息</h2>
  </div>
  <div class="accordionContent">
  	<ul class="tree treeFolder">
    	<li><a href="{:U('Admin/PublicMsg/index')}" target="navTab" rel="PublicMsg">网站公告</a></li>
        <li><a href="{:U('Admin/PrivateMsg/index')}" target="navTab" rel="PrivateMsg">用户通知</a></li>
    </ul>
  </div>
  <!--------------------------------------->
  <div class="accordionHeader">
    <h2><span>Folder</span>综合</h2>
  </div>
  <div class="accordionContent">
  	<ul class="tree treeFolder">
        <li><a href="{:U('Admin/Page/index')}" target="navTab" rel="page">单页管理</a></li>
        <li><a href="{:U('Admin/Word/sensitive')}" target="navTab" rel="word_sensitive">敏感词管理</a></li>
        <li><a href="{:U('Admin/Word/search')}" target="navTab" rel="word_search">搜索词管理</a></li>
        <li><a href="{:U('Admin/Other/index')}" target="navTab" rel="page">其他后台</a></li>
    </ul>
  </div>
  <!--------------------------------------->
<!--------------------------------------->
</div>