<footer class="footer">
    <div class="bd">
        <div class="footer-content clearfix">
            <dl>
                <dt>御咖塘</dt>
                <dd><a target="_blank" href="javascript:;">关于我们</a></dd>
                <dd><a target="_blank" href="javascript:;">加入我们</a></dd>
                <dd><a target="_blank" href="javascript:;">微博</a></dd>
                <dd><a target="_blank" href="javascript:;">微信</a></dd>
            </dl>
            <dl>
                <dt>服务</dt>
                <dd><a target="_blank" href="javascript:;">销售服务</a></dd>
                <dd><a target="_blank" href="javascript:;">寄售服务</a></dd>
                <dd><a target="_blank" href="javascript:;">印刷服务</a></dd>
            </dl>
            <dl>
                <dt>网站条款</dt>
                <dd><a target="_blank" href="javascript:;">销售服务条款</a></dd>
                <dd><a target="_blank" href="javascript:;">寄售服务条款</a></dd>
                <dd><a target="_blank" href="javascript:;">免责声明</a></dd>
            </dl>
            <dl>
                <dt>帮助</dt>
                <dd><a target="_blank" href="javascript:;">读者使用手册</a></dd>
                <dd><a target="_blank" href="javascript:;">作者使用手册</a></dd>
                <dd><a target="_blank" href="http://form.mikecrm.com/f.php?t=7JhqiC">意见反馈</a></dd>
                <dd><a href="http://www.kuaidi.com/" target="_blank">快递查询</a></dd>
            </dl>              
        </div>
        <div class="footer-ft">
            <h1>本站收录的各类产品和图文内容，均为网友创作和提供，其版权均归原作者所有。</h1>
            <a href="http://www.miitbeian.gov.cn/" target="_blank">© 2015 yukatang 粤ICP备15032306号</a>
        </div>
    </div>
<style>
#cnzz_stat_icon_1254403393{
    display:none;
}
</style>
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[a] = m[a] || function() {
            (m[a].a = m[a].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.src = i;
        s.parentNode.insertBefore(j, s)
    })(window, document, 'script', '//eco-api.meiqia.com/dist/meiqia.js', '_MEIQIA');
    _MEIQIA('entId', 3858);
</script>
<!-- 统计代码 -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254403393'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254403393' type='text/javascript'%3E%3C/script%3E"));</script>
</footer>