<include file="include:header" />
<link rel="stylesheet" href="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/css/user_Center.css"/>
<script> 
    var pageName = 'home',                                                  
        seajsBase ='__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/js/'

    yktGlobal.pageName ='home_collectArticle';              
</script>  
<script src="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/js/lib/seajs/seajs/2.3.0/sea.js"></script>
<div class="collect-wrap mainbody-2 clearfix">
	<include file="Home:left" />
	<div class="m-content">
		<div class="sub-nav">
			<a class="active" href="#">收藏文章</a>
		</div>
	    <dl id="J-type" class="classify clearfix">
	      
	    </dl>
      <neq name="list" value="">  
	    <div id="J-container">
          <ul class="goods-bd clearfix">
              <volist id="vo" name="list">
                <li data-id="{$vo['aid']}">
                  <div class="pic">
                    <a href="{:U('Index/Article/detail',array('id'=>$vo['aid']))}" target="_blank">
                      <img src="__UPLOAD__{$vo['aid']|aidToField=###,'title_img'}" />
                    </a>
                  </div>
                  <a class="title" href="{:U('Index/Article/detail',array('id'=>$vo['aid']))}" target="_blank">{$vo['aid']|aidToField=###,'title'}</a>
                  <a class="J-cancelCollect cancelCollect" href="javascript:;">取消收藏</a>
                </li>
              </volist>												
          </ul>						
          <include file="Home:page_tpl" />
      </div>
      <else />
          <div class="m-no-record">没有相关记录</div>
      </neq>
	</div>
</div>
<include file="include:footer" />