<include file="Space:space_header" />
<div class="body-bg">
	<div class="space-wrap mainbody-2">
		<div class="box mb-20">
			<div class="hd">
				作品
			</div>
            <notempty name="list">
                <ul class="m-product bd clearfix">
                    <volist id="vo" name="list">
                        <li>
                            <div class="pic">
                                <a href="{:U('Index/Goods/item',array('id'=>$vo['id']))}" target="_blank">
                                    <img src="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/images/lazyload200X200.png" class="m-lazy" data-original="__UPLOAD__/{$vo.goods_img}!c200x200.jpg"/>                                         
                                </a>
                                <switch name="vo['status']"> 
                                    <case value="1"><i class="presell"></i></case>
                                    <case value="2"><i class="stock"></i></case>
                                    <case value="3"><i class="add"></i></case>
                                </switch>  
                                <eq name="vo['pre_sale']" value="1">
                                    <i class="foreshow"></i>
                                </eq>    
 
                            </div>
                            <a class="title" href="#" target="_blank">{$vo['goods_name']}</a>
                            <a class="classify" href="#">{:C('GOODS_STATUS')[$vo['status']]}</a>
                        </li>                            
                    </volist>                                 
                </ul>
            <else />
                <div class="m-no-record">没有相关记录</div>
            </notempty>
		</div>
	</div>  
	<div class="space-page">
        {$page}
	</div>
    <include file="include:footer" />
</div>
</body>
</html>