<div class="pageContent">
	<form method="post" action="__CONTROLLER__/update" class="pageForm required-validate" onsubmit="return iframeCallback(this, dialogAjaxDone)">
    	<input type="hidden" name="callbackType" value="closeCurrent" />
        <input type="hidden" name="id" value="{$Think.request.id}" />
    	<div class="pageFormContent" layoutH="58">
        	<div class="unit">
                <label>上级分类名称：</label>
                <select name="pid" style="width:198px;">
                    <option value="0" <eq name="vo['pid']" value="0">selected</eq> >顶层</option>
                    <volist name="catlist" id="voo">
                        <option value="{$voo.id}" <eq name="voo.id" value="$vo['pid']">selected</eq> >{$voo.cat_name}</option>
                    </volist>
                </select>
            </div>
            <div class="unit">
            	<label>文章分类名称：</label>
                <input type="text" name="cat_name" class="required" size="33" value="{$vo.cat_name}" />
            </div>
            <div class="unit">
            	<label>层：</label>
                <select name="level">
                	<option value="1" <eq name="vo['level']" value="1">selected</eq> >1</option>
                    <option value="2" <eq name="vo['level']" value="2">selected</eq> >2</option>
                    <option value="3" <eq name="vo['level']" value="3">selected</eq> >3</option>
                </select>
            </div>
            <div class="unit">
            	<label>是否显示：</label>
                <select name="show">
                	<option value="1" <eq name="vo['show']" value="1">selected</eq> >是</option>
                    <option value="0" <eq name="vo['show']" value="0">selected</eq> >否</option>
                </select>
            </div>
            <div class="unit">
            	<label>排序：</label>
                <input type="text" name="sort" class="required" size="33" value="{$vo.sort}" />
            </div>
            
        </div>
        <div class="formBar">
        	<ul>
            	<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>
