    <div class="w">
    	<div id="footer">
        	<div class="links"><a href="#" target="_blank">关于我们</a>|<a href="#" target="_blank">联系我们</a>|<a href="#" target="_blank">人才招聘</a>|<a href="#" target="_blank">商家入驻</a>|<a href="#" target="_blank">广告服务</a>|<a href="#" target="_blank">友情链接</a>|<a href="#" target="_blank">销售联盟</a>|<a href="#" target="_blank">雪狐社区</a></div>
            <div class="copyright">© 2013-2014 www.StudyFox.cn All Rights Reserved. 雪狐网 版权所有</div>
            <div class="authentication"><a href="#" target="_blank"><img width="108" height="40" alt="经营性网站备案中心" src="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/images/beian.gif"></a><a href="#" target="_blank"><img width="108" height="40" alt="可信网站" src="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/images/kexin.gif"></a><a href="#" target="_blank"><img width="108" height="40" alt="诚信网站" src="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/images/chengxin.png"></a></div>
        </div>
    </div>