<script type="text/javascript">    
    // 当前页面
    adminGlobal.pageName = 'goods_add';  
    adminGlobal.UEurl  = "{:U('Admin/Ueditor/index')}";  //ue-url
    adminGlobal.pub = '__PUBLIC__';
    adminGlobal.controller = '__CONTROLLER__';
    adminGlobal.upload = '__UPLOAD__';
</script>
<script src="__PUBLIC__/dwz/js/extraBase.js" type="text/javascript"></script>
<div class="pageContent">
    <form method="post" action="__CONTROLLER__/insert" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this,dialogAjaxDone);">
        <input type="hidden" name="callbackType" value="closeCurrent" />
        <div class="pageFormContent" layoutH="58">
            <gt name="con_inf['gid']" value="0">
             <div class="unit">
                 <span style="color: red;">寄售品已转为商品,商品id为{$con_inf['gid']},继续请提交</span>
             </div>
            </gt>
            <div class="unit">
                <label>分类：</label> 
                <select name="cat_id" id="cat_id" class="m-width-200">
                    <volist name="catlist" id="vo">
                        <option value="{$vo.id}" <neq name="vo.level" value="3">disabled</neq> 
                                                 <eq name="vo.id" value="$con_inf.cat_id">selected</eq>
                        >{$vo.cat_name}</option>
                    </volist>
                </select>
            </div>
            <div class="unit">
                <label>委托人：</label>
                <input class="m-width-200" type="text" name="c_user"  size="33" value="{$con_inf['uid']|uidToField=###,'username'}" />
            </div>    
            <div class="unit">
                <label>作者：</label>
                <input class="m-width-200" type="text" name="author"  size="33" value="{$con_inf['author']}" />
            </div>           
            <div class="unit">
                <label>名称：</label>
                <input type="text" name="goods_name" class="required m-width-350" size="83" value="{$con_inf['goods_name']}" />
            </div>   
            <div class="unit cover"> 
                <label>封面:</label> 
                <div class="frame">
                    <div id="J-cover-button" class="upload-btn">上传图片</div>
                    <input id="J-cover-inputVal" type="hidden" name="goods_img" value="{$con_inf['goods_img']}" />
                    <div id="J-cover-status" style="display:none"></div>
                    <div class="clear"></div>
                    <neq name="con_inf['goods_img']" value="">
                      <img id="J-cover-container" src="__UPLOAD__{$con_inf['goods_img']}" style="display:block;" />
                    <else/>  
                      <img id="J-cover-container" src="" style="display:none;" />
                    </neq>                     
                </div>
            </div>
            <!-- ####################### -->
            <neq name="con_inf['id']" value="">
               <include file="Goods:consign_attr_form" />
            <else/> 
                <div class="unit goods-attr-type">
                    <label>套装:</label> 
                    <div class="frame">
                        <a id="J-no-attr" class="add_attr_btn active" href="javascript:;">无套装</a>
                        <a id="J-multi-attr" class="add_attr_btn" href="javascript:;">多套装</a>
                        <div id="J-attr-frame" class="frame"> 
                           <include file="Goods:add_attr_form" />
                        </div>           
                     </div>
                </div>                         
            </neq>
            <div class="unit">
               <input name="multi" value="{$con_inf['multi']}" type="hidden" />
            </div>
            <!--#########################-->                                               
            <div class="unit">
                <label>公共属性ID组：</label>
                <input type="text" name="public.attr_ids" class="readonly required m-width-200" size="33" value="{$con_inf['public_attr_ids']}" readonly="readonly" />
                <a id="publicAttrItem" class="unit btn" href="__CONTROLLER__/publicAttrItem/cat_id/{$cat_id}" target="dialog" mask="true" title="选择公共属性" width="800" height="600" lookupGroup="public" >选择公共属性</a>
                <neq name="con_inf.public_attr_ids" value="">
                  <span> &nbsp;寄售选择 : {$con_inf['public_attr_ids']|publicAttrStr=###}</span>
                </neq>
            </div>
            <div class="unit">
                <label>原作：</label>
                <input type="text" name="original"  size="83" value="{$con_inf['original']}" />
            </div>        
            <div class="unit">
                <label>CP：</label>
                <input type="text" name="cp" size="83" value="{$con_inf['cp']}" />
            </div>            
            <div class="unit m-tag-wrap">
                <label>标签：</label>
                <div id="J-tag-frame" class="tag-frame">
                    <a class="add-btn J-add-tag">+添加</a>
                </div>
            </div>    
            <div class="unit">
                <label>商品简介：</label>     
                <textarea class="m-textarea" type="text" name="goods_desc">{$con_inf['goods_desc']}</textarea>
            </div>
            <div class="unit">
                <label>商品附注：</label>
                <input type="text" name="goods_ps" size="83" value="{$con_inf['goods_ps']}" />           
            </div>      
            <div class="unit">
                <label>商品参数：</label>
                <script id="J-ue-parameter" class="J-UEcontainer" name="goods_param" type="text/plain">
                  {$con_inf.goods_param|htmlspecialchars_decode|stripslashes}
                </script>                
            </div>
            <div class="unit">
                <label>商品详细：</label>
                <script id="J-ue-detail" class="J-UEcontainer" name="goods_detail" type="text/plain">
                  {$con_inf.goods_detail|htmlspecialchars_decode|stripslashes}
                </script>    
            </div>
            <div class="unit">
                <label>运费：</label>
                <input type="radio" class="add-radio" name="express_charge" id="express_charge1"  value="1" checked="true" />
                <label class="add-label" for="express_charge1">要运费</label>
                <input type="radio" class="add-radio" name="express_charge" id="express_charge0"  value="0"  />
                <label class="add-label" for="express_charge0">免运费</label>
            </div>
            <div class="unit">
                <label>状态：</label>
                <foreach name="Think.config.GOODS_STATUS" item="voo" key="k" >
                        <input id="status{$k}"  class="add-radio" type="radio" name="status" value="{$k}" <eq name="k" value="1">checked="true"</eq> />
                        <label class="add-label" for="status{$k}">{$voo}</label>
                </foreach>
            </div>
            <div class="unit">
                <label>上架：</label>
                <input type="radio" class="add-radio" name="on_sale" id="on_sale1"  value="1" checked="true" />
                <label class="add-label" for="on_sale1">上架</label>
                <input type="radio" class="add-radio" name="on_sale" id="on_sale0"  value="0"  />
                <label class="add-label" for="on_sale0">下架</label>
            </div>
            <div class="unit">
                <label>预告：</label>
                <input type="radio" class="add-radio" name="pre_sale" id="pre_sale0"  value="0" <eq name="con_inf['id']" value="">checked="true"</eq>  />
                <label class="add-label" for="pre_sale0">否</label>
                <input type="radio" class="add-radio" name="pre_sale" id="pre_sale1"  value="1" <neq name="con_inf['id']" value="">checked="true"</neq> />
                <label class="add-label" for="pre_sale1">是</label>
            </div>
            <div class="unit">
                <label>开售时间：</label>
                <input type="text" name="onsale_time" class="date textInput readonly" datefmt="yyyy-MM-dd HH:ss" value="{:date('Y-m-d')}" />
                <a class="inputDateButton" href="#">选择</a>
            </div>         
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>
<style type="text/css">
.pageFormContent span { padding-left:0;}
.J-UEcontainer{
    margin-left:109px;
}
.pageFormContent div.unit .add-label{
    width:auto;
}
.add-radio{
    margin-top:5px;
}
/*转为商品*/
</style>