<div class="no-attr-content">
    <div class="result-wrap">   
       <table class="result-table">
            <tbody>                               
                <tr>
                    <th>价格(元)</th>
                    <th>数量</th>
                    <th>重量(kg)</th>
                    <th>区域码</th>
                    <th>商品缩写</th>
                </tr>
                <tr class="result-list">
                    <td><input class="input-edit number required" type="text" name="price" value=""/></td>
                    <td><input class="input-edit digits required" type="text" name="stock" value=""/></td>
                    <td><input class="input-edit number required" type="text" name="weight" value=""/></td>
                    <td><input class="input-edit required" type="text" name="area_code" value=""/></td>
                    <td><input class="input-edit required" type="text" name="abbr" value=""/></td>
                </tr>  
             </tbody>
       </table>
    </div>
</div>