<style type="text/css">
.pageFormContent span { padding-left:0;}
</style>
<div class="pageContent">
	<form method="post" action="__CONTROLLER__/insert" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this,dialogAjaxDone);">
    	<input type="hidden" name="callbackType" value="closeCurrent" />
    	<div class="pageFormContent" layoutH="58">
            <div class="unit">
        	<label>上级：</label>
                <select name="pid" style="width:100px;">
                    <option value="0">顶层</option>
                    <volist name="block" id="b">
                        <option value="{$b.id}">{$b.desc}</option>
                    </volist>
                </select>
            </div>
            <div class="unit">
            	<label>层级：</label>
                <select name="level" style="width:198px;">
                    <option value="1">页面</option>
                    <option value="2">块</option>
                </select>
            </div>
            <div class="unit">
            	<label>标识：</label>
                <input type="text" name="sign" class="required" size="30" value="" />
            </div>
            <div class="unit">
            	<label>描述：</label>
                <input type="text" name="desc" class="required" size="30" value="" />
            </div>
        </div>
        <div class="formBar">
        	<ul>
            	<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>
