<include file="include:header" />
<link rel="stylesheet" href="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/css/article.css"/>
<script> 
    var pageName = 'article';                                        
    var seajsBase ='__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/js/';
    //当前页
    yktGlobal.pageName = 'index';             
</script>  
<script src="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/js/lib/seajs/seajs/2.3.0/sea.js"></script>
<div class="body-bg" >
	<div class="article-index-wrap mainbody-2 clearfix">
		<ul class="m-sub-nav clearfix mb-20">
			<li>
				<a class="active" href="{:U('Index/Anli/index')}">安利首页</a>
			</li>
            <volist id="vo" name="catlist">
          		<li>
					<a href="{:U('Index/Anli/show',array('cat'=>$vo['id']))}">{$vo['cat_name']}</a>
				</li>		                  	
            </volist>						 		
		</ul>
		<div class="banner-wrap banner m-flexslider">
        <!--头图-->
			<div id="J-slidedown">
				<ul class="slides">
                    {:W('Promote/show',array($Think.CONTROLLER_NAME,'focus','4'))}                
				</ul>
			</div>				
		</div> 
		<div class="hd clearfix">
			<div class="fl txt">最新</div>
			<a class="fr btn" href="{:U('Index/Article/contribute',array('t'=>'anli'))}"><i>+</i>我要投稿</a>
		</div>
		<div class="bd">
           {:W('Article/newest',array($catlist))} 
		</div>
	</div>
<include file="include:footer" />
</div>
