<include file="include:regist_header" />
<script> 
	var pageName = 'register';                                                   //页面
	var	seajsBase ='__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/js/';              //路径
	    //当前页
    yktGlobal.pageName = 'retrieve';  
		
</script>		
<script src="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/js/lib/seajs/seajs/2.3.0/sea.js"></script>	
<div class="mainbody-1 register-wrap login-wrap clearfix">	
	{:W('Promote/show',array($Think.CONTROLLER_NAME,'left','1'))}	
	<div class="frame">
		<div class="jump-btn"><a href="{:U('Index/Regist/index')}">注册账号</a></div>
		<div class="hd">找回密码</div>
		<div class="bd"> 
			<form id="J-retrieve-form" method="post" action="/Index/Login/changePassword">
    			<div class="r-form">
    				<ul>
    					<li class="r-form-list clearfix">
    						<label class="r-f-label">手机号码:</label>
    						<span class="error"></span>
    						<div class="clear"></div>
    						<input id="mobile" class="r-f-input u-input-text" type="text" name="mobile"/>
                            请填写网站注册的手机号码
    					</li>
    					<li class="r-form-list clearfix">
    						<label class="r-f-label">验证码:</label>
    						<div class="clear"></div>
    						<div class="r-f-code">
                                <span class="code-error error"></span>
    							<div id="J-code-btn" class="code-btn fr">获取验证码</div>
    							<input id="sms_code" type="text" name="sms_code" />
    						</div>
    					</li>
    					<li class="r-form-list clearfix">
    						<label class="r-f-label">新密码:</label>
    						<span class="error"></span>
    						<div class="clear"></div>
    						<input id="password" class="r-f-input u-input-text" type="password" name="password"/>
    					</li>
                        <li class="r-form-list clearfix">
    						<label class="r-f-label">确认新密码:</label>
    						<span class="error"></span> 
    						<div class="clear"></div> 
    						<input id="confirm_password" class="r-f-input u-input-text" type="password" name="confirm_password"/>
    					</li>	
    				</ul>
    				<input id="J-retrieve-submit" class="registser-btn u-btn u-btn-primary" type="submit" value="提交"/> 
    			</div>
			</form>		
		</div>
	</div>
</div>	
<include file="include:footer" />