<script>
// 当前页面
adminGlobal.pageName = 'expressage_add';
var cityUrl = '__CONTROLLER__';
</script>
<script src="__PUBLIC__/dwz/js/extraBase.js" type="text/javascript"></script>
<div class="pageContent">
	<form method="post" action="__CONTROLLER__/insert" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
    	<input type="hidden" name="callbackType" value="closeCurrent" />
        <input type="hidden" name="navTabId" value="{$Think.request.navTabId}" />
    	<div class="pageFormContent" layoutH="58">
        	<div class="unit J-linkage">
                <label>省[必选]：</label>
                <select id="J-ajax-province" name="province_id" style="width:198px;">
                    <volist name="province" id="vo"> 
                        <option value="{$vo.id}">{$vo.areaname}</option>
                    </volist>
                </select>
            </div>
            <div class="unit J-linkage">
            	<label>市[可选]：</label>
                <select id="J-ajax-city" name="city_id" style="width:198px;">
                   <option value=""></option>
                </select>
            </div>
            <div class="unit">
            	<label>首重 kg：</label>
                <input type="text" name="init_weight"  class="required number" size="33" value="" />
            </div>
            <div class="unit">
            	<label>首重 元：</label>
                <input type="text" name="init_cost"  class="required number" size="33" value="" />
            </div>
            <div class="unit">
            	<label>续重 kg：</label>
                <input type="text" name="extra_weight" class="required number" size="33" value="" />
            </div>
            <div class="unit">
            	<label>续费 元：</label>
                <input type="text" name="extra_cost" class="required number" size="33" value="" />
            </div>
        </div>
        <div class="formBar">
        	<ul>
            	<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>
