<include file="include:header" />
<style>
/*.header{
	margin-bottom: 1px;
}*/
.footer{
	margin-top:0;
}
</style>
<script> 
    var pageName = 'other',                                                   
        seajsBase ='__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/js/'              
</script>  
<script src="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/js/lib/seajs/seajs/2.3.0/sea.js"></script>
<div class="body-bg">
<!-- 	<a href="http://form.mikecrm.com/f.php?t=CoK7Om" style="position:fixed;z-index:999;right:-5px;bottom: 200px;display: inline-block;width: 20px;border-radius: 5px;color:white;font-size:14px;line-height:17px;background: #2476CE;box-shadow: 0 0 5px #666;word-wrap: break-word;padding: 10px 6px;border: 2px solid white;">我要印刷</a> -->
<iframe height="4745px" allowTransparency="true" style="width:100%;border:none;overflow:auto;" frameborder="0" src="http://form.mikecrm.com/f.php?t=CoK7Om"></iframe>
</div>
<include file="include:footer" />