<!--查询条件-->
<div class="pageHeader">
   <form id="pagerForm" action="__CONTROLLER__" method="post" onsubmit="return navTabSearch(this)">
    	<input type="hidden" name="pageNum" value="1" />
        <input type="hidden" name="numPerPage" value="{$numPerPage}" />
    	<div class="searchBar">
        	<ul class="searchContent">
                <li>
                	<label>显示：</label>
                    <select name="show" style="width:150px">
                    	<option value="">全部</option>
                   		<option value="1" <eq name="Think.post.show" value="1">selected</eq> >是</option>
                        <option value="0" <eq name="Think.post.show" value="0">selected</eq> >否</option>
                    </select>
                </li>
                <li>
                	<label>星级：</label>
                    <select name="star" style="width:150px">
                    	<option value="">全部</option>
                        <for start="1" end="5" comparison="elt">
                           <option value="{$i}" <eq name="Think.post.star" value="$i">selected</eq> >{$i}</option>
                        </for>
                    </select>
                </li>
                <li>
                	<label>评论：</label>
                    <input name="comment" type="text" size="25" value="{$Think.post.comment}"  />
                </li>
                <li>
                	<label>商品ID：</label>
                    <input name="gid" type="text" size="25" value="{$Think.post.gid}"  />
                </li>
                <li>
                	<label>用户：</label>
                    <input name="user" type="text" size="25" value="{$Think.post.user}"  />
                </li>
            </ul>
            <div class="subBar">
            	<ul>
                	<li>
                    	<div class="buttonActive">
                        	<div class="buttonContent">
                            	<button type="submit">查询</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <!--操作按钮-->
    <div class="panelBar">
    	<ul class="toolBar">
            <li><a class="delete" href="__CONTROLLER__/foreverdelete/" posttype="string" rel="id" target="selectedTodo" title="确定要删除选中的记录吗？" warn="请至少选择条记录"><span>删除</span></a></li>
            <li><a class="edit"   href="__CONTROLLER__/edit/id/{gcid}" target="dialog" rel="goodscomment_edit" mask="true" warn="请选择一条记录" width="750" height="550" max="false" ><span>回应</span></a></li>
        </ul>
    </div>
    <!--操作按钮结束-->

    <!--数据显示-->
    <table class="list" width="100%" layoutH="115">
    	<thead>
        	<tr>
            	<th width="5%"><input type="checkbox" group="id" class="checkboxCtrl" /></th>
                <th width="5%">编号</th>
                <th width="10%">评价用户</th>
                <th width="5%">商品gid</th>
                <th width="5%">星级</th>
                <th width="5%">显示</th>
                <th width="10%">添加时间</th>
                <th width="30%">内容</th>
            </tr>
        </thead>
        <tbody>
        	<volist id="vo" name="list">
                <tr target="gcid" rel="{$vo['id']}">
                    <td><input type="checkbox" name="id" value="{$vo['id']}" /></td>
                    <td>{$vo['id']}</td>
                    <td>{$vo['uid']|uidToField=###,'username'}</td>
                    <td>
                       <a target="_blank" href="{:U('Index/Goods/item',array('id'=>$vo['gid']))}">
                          {$vo['gid']}
                       </a>
                    </td> 
                    <td>{$vo['star']}</td>              
                    <td>{$vo['show']?'是':'否'}</td>
                    <td>{$vo['add_time']|date="Y-m-d H:i:s",###}</td>
                    <td>{$vo['comment']}</td>
                </tr>
            </volist>
        </tbody>
    </table>
    <!--数据显示结束-->

    <!--数据分页-->
    <div class="panelBar">
    	<div class="pages">
        	<span>共&nbsp;{$totalCount}&nbsp;条,&nbsp;</span>
                <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                  <option value="10" <eq name="numPerPage" value="10">selected</eq>>10</option>
                  <option value="15" <eq name="numPerPage" value="15">selected</eq>>15</option>
                  <option value="20" <eq name="numPerPage" value="20">selected</eq>>20</option>
                  <option value="50" <eq name="numPerPage" value="50">selected</eq>>50</option>
                  <option value="100" <eq name="numPerPage" value="100">selected</eq>>100</option>
           	 	</select>
            <span>&nbsp;条&nbsp;/&nbsp;页</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
    </div>
    <!--数据分页结束-->
</div>