<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>雪狐ThinkPHP商城系统</title>
<load href="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/css/main.css" />
<script type="text/javascript" src="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#changePwd").click(function()
	{
		if($("#password").val() == '')
		{
			$("#password_error").html("请输入登录密码");
			$("#password_error").attr("style","display:block");
		}
		else
		{
			if($("#password").val().length<6 || $("#password").val().length>20)
			{
				$("#password_error").html("密码在6-20位");
				$("#password_error").attr("style","display:block");
			}
			else
			{
				$("#password_error").attr("style","display:none");
			}
		}
		
		if($("#rePassword").val() == '')
		{
			$("#rePassword_error").html("请输入确认密码");
			$("#rePassword_error").attr("style","display:block");
		}
		else
		{
			if($("#rePassword").val().length<6 || $("#rePassword").val().length>20)
			{
				$("#rePassword_error").html("确认密码在6-20位");
				$("#rePassword_error").attr("style","display:block");
			}
			else
			{
				$("#rePassword_error").attr("style","display:none");
			}
		}
		
		if($("#password").val() != $("#rePassword").val())
		{
			$("#rePassword_error").html("密码和确认密码不匹配");
			$("#rePassword_error").attr("style","display:block");
			return false;
		}
		else
		{
			$("#rePassword_error").attr("style","display:none");
		}
		
		$.post('__CONTROLLER__/changePwd',{'pwd':$("#password").val()},function(data)
		{
			if(data == 1)
			{
				alert("密码修改成功.");
			}
		});	
		
	});
});
</script>
</head>

<body>
	{:W('Template/top')}
    <!--nav end-->
    
    <div id="container">
    	<div class="w main">
        	{:W('Template/left')}
            
            <div id="pcontent">
            	<div class="mt"><h2>修改登录密码</h2></div>
                <div class="mc">
                	<div class="form">
                    	
                        <div class="item" style="max-height:50px;">
                        	<span class="lable"><em>*</em>新登录密码：</span>
                            <div class="fl">
                            	<input type="password" class="text" tabindex="1" name="password" id="password">
                                <div id="password_error" class="msg-error" style="display:none"></div>
                            </div>
                            <div class="clr"></div>
                        </div>
                        
                        <div class="item">
                        	<span class="lable"><em>*</em>确认新密码：</span>
                            <div class="fl">
                            	<input type="password" class="text" tabindex="2" name="rePassword" id="rePassword">
                                <div id="rePassword_error" class="msg-error" style="display:none"></div>
                            </div>
                            <div class="clr"></div>
                        </div>
                        
                        <div class="item btns">
                        	<span class="lable">&nbsp;</span>
                            <div class="fl">
                            	<a class="btnChange" tabindex="3" id="changePwd" href="javascript:void(0);"><s></s>提交</a>
                            </div>
                            <div class="clr"></div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!--底部 begin-->
    {:W('Template/bottom')}
    <!--底部 end-->
</body>
</html>