<script>
   //单图上传
   var ajaxUploadUrl = "__CONTROLLER__/upload" ;
   var uploadPath = '__UPLOAD__';
   AjaxUploadPic('#J-upload-button','#J-upload-txt','#J-upload-inputVal','#J-img-container');
   function AjaxUploadPic(btn,txt,inputVal,imgContainer){
		var button = $(btn), interval;
		var confirmdiv = $(txt);
	    var fileType = "pic",fileNum = "one"; 
	    new AjaxUpload(button,{
	        action: ajaxUploadUrl,
	        name: '__CONTROLLER__',
	        onSubmit : function(file, ext){ 
	            if(fileType == "pic"){
	                if (ext && /^(jpg|png|jpeg|gif|JPG)$/.test(ext)){
	                     this.setData({'info': '文件类型为图片'});
	                } else {
	                     confirmdiv.text('文件格式错误，请上传格式为.png .jpg .jpeg 的图片').show();
	                     return false;               
	                }
	            }           
	            confirmdiv.text('文件上传中');
	            if(fileNum == 'one')  this.disable();
	        },
	        onComplete: function(file, res){
                    
                    if(res.indexOf('-')>0){
				 	     $(inputVal).val(res);
				         $(imgContainer).attr("src",uploadPath+res).show();                
		                 this.enable();
                    }else{
                         confirmdiv.text(res).show();
                         this.enable();
                         return false;
                    }  
	        }
	    });
	}
</script>
<style type="text/css">
.pageFormContent span { padding-left:0;}
</style>
<div class="pageContent">
	<form method="post" action="__CONTROLLER__/update" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this,dialogAjaxDone);">
    	<input type="hidden" name="callbackType" value="closeCurrent" />
        <input type="hidden" name="id" value="{$Think.request.id}" />
    	<div class="pageFormContent" layoutH="58">
        	<div class="unit">
            	<label>块：</label>
                <select name="bid">
                    <volist name="block" id="b">
                        <option value="{$b.id}" <neq name="b.level" value="2">disabled</neq> <eq name="b.id" value="$vo.bid">selected</eq> >{$b.desc}</option>
                    </volist>
                </select>
            </div>
            <div class="unit">
            	<label>外链URL：</label>
                <input type="text" name="link" class="required" size="80" value="{$vo['link']}" />
            </div>
            <div class="unit">
            	<label>标题：</label>
                <input type="text" name="title" class="required" size="80" value="{$vo['title']}" />
            </div>
            <div class="unit"> 
                <label>上传推荐图片:</label>
                <div id="J-upload-button" class="upload-btn">上传</div>
				<input id="J-upload-inputVal" type="hidden" name="img" value="{$vo['img']}" />
				<div id="J-upload-txt"    style="display:none"></div>
				<img id="J-img-container" src="__UPLOAD__{$vo['img']}" style="display:block; width: 280px; height: 180px;" />
            </div>
            <div class="unit">
            	<label>是否显示：</label>
                <select name="show">
                    <option value="1" <eq name="vo.show" value="1">selected</eq> >是</option>
                	<option value="0" <eq name="vo.show" value="0">selected</eq> >否</option>
                </select>
            </div>
            <div class="unit">
            	<label>排序：</label>
                <input type="text" name="sort" class="required number" size="30" value="{$vo['sort']}" />
            </div>
        </div>
        <div class="formBar">
        	<ul>
            	<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>

<style type="text/css">
.create-process ul{
    float:left;
}
.create-process .list{
    margin-bottom:5px;
    clear:both;
}
.create-process .list img{
    width:55px;
    height: 40px;
    float:left;
}
.create-process .list input{
    float:left;
}
</style>