<include file="include:header" />
<link rel="stylesheet" href="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/css/channel.css"/>

<script> 
    var pageName = 'sale',                                                  
        seajsBase ='__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/js/'              
</script>  
<script src="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/js/lib/seajs/seajs/2.3.0/sea.js"></script>
<div class="channel-wrap">

    <div class="mainbody-2">
        <ul class="m-sub-nav clearfix mb-20">
            <li>
                <a class="active" href="/Index/Sale/index.html">全部</a>
            </li>            
            <volist id="vo" name="catlist">
                <li>
                    <a href="{:U('Index/List/category',array('cat'=>$vo['id']))}" >{$vo['cat_name']}</a>
                </li>   
            </volist>
        </ul>
        <div class="ad clearfix">
            {:W('Promote/show',array($Think.CONTROLLER_NAME,'focus','3'))} 
        </div>
    </div>
    <div class="filter">
        <div class="inside mainbody-2">
            <dl class="clearfix">
                <dt>状态：</dt>
                <dd <eq name="Think.get.s" value="">class="active"</eq>><a href="{:U('Index/Sale/index')}">全部</a></dd>
                <foreach name="Think.config.GOODS_STATUS" item="vo" >
                    <dd <eq name="Think.get.s" value="$key">class="active"</eq>><a href="{:U('Index/Sale/index',array('s'=>$key))}"  >{$vo}</a></dd>
                </foreach>
                <!-- <dd class="more m-popover top"><a href="#">更多</a><span class="arrow"></span></dd> -->
            </dl>                
        </div>
    </div>
	<div class="mainbody-2">
		<ul class="goods m-product clearfix">
			<volist id="vo" name="list">
                <li>
    				<div class="pic">
    					<a href="{:U('Index/Goods/item',array('id'=>$vo['id']))}" target="_blank">
    						<img class="m-lazy" src="__PUBLIC__/themes/{$Think.config.DEFAULT_THEME}/images/lazyload200X200.png" data-original="__UPLOAD__{$vo['goods_img']}!c200x200.jpg"/> 
    						<div class="overlayh"></div>
    						<div class="overlaym"></div>
    						<div class="overlayb"></div>		 								
    					</a>
                        <switch name="vo['status']"> 
                            <case value="1"><i class="presell"></i></case>
                            <case value="2"><i class="stock"></i></case>
                            <case value="3"><i class="add"></i></case>
                        </switch>  
                        <eq name="vo['pre_sale']" value="1">
                            <i class="foreshow"></i>
                        </eq>  				
    				</div>
    				<a class="title" href="{:U('Index/Goods/item',array('id'=>$vo['id']))}" target="_blank">{$vo['goods_name']}</a>
    				<a class="classify" href="#">{$vo.original|default='原创'}</a>
    			</li>	                  	
            </volist>			
		</ul>
	    <div class="m-paginator">
          {$page}
	    </div>		
	</div>		
</div>
<include file="include:footer" />

</body>
</html>